@model IEnumerable<Actor>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row pb-3">
        <div class="col-6">
            <h2 class="text-primary">Actors</h2>
            </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Actor"><i class="bi bi-plus-circle"></i>&nbsp;  Create New Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>ImageUrl</th>
            <th>FullName</th>
            <th>Bio</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
           @foreach (var item in Model)
        {
            <tr>
                <td>@item.ImageUrl</td>
                <td>@item.FullName</td>
                <td>@item.Bio</td>
                <td role="group">
                    
                    <a asp-action="Edit" asp-controller="Actor" asp-route-Id="item.Id"><i class="bi bi-pencin-square"></i></a>
                <a asp-action="Delete" asp-controller="Actor " asp-route-Id="@item.Id" ><i class="bi bi-trassh"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>


